<!-- top header with canvas -->
<!--text-sm-start is after sm breakpoint it will align to start otherwise center-->
<div class="bg-dark text-light p-5  p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <!--// d-flex is used for flexbox but d-sm-flex is used here for breakpoint so that after the sm breakpoint it start using flexbox-->
        <div class="d-sm-flex align-items-center justify-content-between">

            <div>
                <h1 class="fw-bold">MANAGE LIKE A <span class="text-warning">PRO</span></h1>
                <!--// my 0s margin y-axis-->
                <p class="lead my-4">
                    If you want to manage your large amount of user then this tool will help you like a charm!.
                </p>
                <button class="btn btn-primary btn-lg">Read More</button>

            </div>

            <!--// w-50 makes the image 50% less size and d-none means img will not show but d-sm-block is under sm image is not shown-->
            <img class="img-fluid w-50 d-none d-sm-block" src="../../../../assets/images/coding_guy.svg" alt="">
        </div>

    </div>
</div>


<!-- news letter section -->
<div class="bg-primary text-light p-4 text-center text-sm-start">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h2 class="mb-3 mb-lg-0">SignUp for our Newsletter</h2>
            <div class="input-group new-letter">
                <input class="form-control" type="text" placeholder="Enter Email Address">
                <button class="btn btn-dark btn-lg">Subscribe</button>
            </div>
        </div>
    </div>
</div>


<!-- CRUD operation define -->
<div class="p-5">
    <div class="container">
        <div class="row g-2">
            <div class="col-md col-sm-6">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="card-title">
                            CREATE
                        </div>
                        <p class="card-text">
                            Create any number of record this can be your user, employee, student or any number of resources that you want to track. Form contain full record of particular user.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="card-title">
                            READ
                        </div>
                        <p class="card-text">
                            Get all the user or your employee in a dynamic list in that list you can filter any particular user by there name, address or any filled detail using keywords.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="card-title">
                            UPDATE
                        </div>
                        <p class="card-text">
                            Update any time anywhere whatever field you want with just one button whenever you want database will gradually update as you update your details
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md col-sm-6">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1">
                            <i class="bi bi-laptop"></i>
                        </div>
                        <div class="card-title">
                            DELETE
                        </div>
                        <p class="card-text">
                            Delete anytime anywhere with one quick access button. You also have clear all list button in which you can delete n number of record with a one hit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- two canvas with some details -->

<div class="bg-light text-dark p-5">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="../../../../assets/images/Development.svg" class="img-fluid" alt="">
            </div>
            <div class="col-md p-5">
                <h2>Development strategy</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, dolorem neque totam voluptatem officia quis.
                </p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, voluptas ullam corrupti error vero soluta corporis consequatur! Aut at esse deserunt, minima numquam ratione sunt non sit voluptatem vitae rerum!</p>
                <a href="#" class="btn btn-light mt-5">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark text-light p-5">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md p-5">
                <h2>Deployement strategy</h2>
                <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia distinctio corrupti minus voluptatibus error tempora.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum nesciunt quo odit maxime commodi quod praesentium, cum fuga minima qui necessitatibus dicta corporis eum nisi dolor enim dolore quas numquam?</p>
                <a href="#" class="btn btn-primary mt-5">
                    <i class="bi bi-chevron-right"></i> Read More
                </a>
            </div>
            <div class="col-md">
                <img src="../../../../assets/images/visual_data.svg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>

<!-- FAQ with accordion -->

<div class="p-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1>Frequently Asked Questions</h1>
        </div>

        <div>
            <div class="accordion accordion-flush" id="accordionFlushExample">

                <!-- item 1 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-1">
                      What is the use of this tool?
                    </button>
                    </h2>
                    <div id="question-1" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.
                        </div>
                    </div>
                </div>

                <!-- item 2 -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-2">
                      What is the tech stack behind it?
                    </button>
                    </h2>
                    <div id="question-2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.
                        </div>
                    </div>
                </div>

                <!-- item 3 -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-3">
                      Are you planning for future updates?
                    </button>
                    </h2>
                    <div id="question-3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.
                        </div>
                    </div>
                </div>

                <!-- item 4 -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-4">
                      Where is the git repository of this tool?
                    </button>
                    </h2>
                    <div id="question-4" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.
                        </div>
                    </div>
                </div>

                <!-- item 5 -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-5">
                      Can I contribute to this open source project?
                    </button>
                    </h2>
                    <div id="question-5" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, sunt.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Developers -->

<div class="bg-primary p-5">
    <div class="container">

        <h1 class="text-center text-white">Our Developers</h1>
        <p class="leader text-center text-white mb-5">All our developers has 5+ years of experience as a web developers in IT industry</p>

        <div class="row g-4">

            <!-- dev 1 -->
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <!-- this is a api for random user portrait image -->
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3 fw-bold">Richard Scott</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis totam voluptas quisquam quidem dolor unde.
                        </p>
                        <!-- by default all bootstrap icon has blue color 'text-dark' makes them darker in color -->
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- dev 2 -->

            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <!-- this is a api for random user portrait image -->
                        <img src="https://randomuser.me/api/portraits/women/12.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3 fw-bold">Natasha Smith</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis totam voluptas quisquam quidem dolor unde.
                        </p>
                        <!-- by default all bootstrap icon has blue color 'text-dark' makes them darker in color -->
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- dev 3 -->

            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <!-- this is a api for random user portrait image -->
                        <img src="https://randomuser.me/api/portraits/men/14.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3 fw-bold">Tony Stark</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis totam voluptas quisquam quidem dolor unde.
                        </p>
                        <!-- by default all bootstrap icon has blue color 'text-dark' makes them darker in color -->
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- dev 4 -->

            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <!-- this is a api for random user portrait image -->
                        <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="">
                        <h3 class="card-title mb-3 fw-bold">Mia Rogers</h3>
                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis totam voluptas quisquam quidem dolor unde.
                        </p>
                        <!-- by default all bootstrap icon has blue color 'text-dark' makes them darker in color -->
                        <a href="#"> <i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-instagram text-dark mx-1"></i></a>
                        <a href="#"> <i class="bi bi-linkedin text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="p-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md">
                <h2 class="text-center mb-4">Contact Info</h2>
                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> West coast south poll
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Support Phone:</span> (555) 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Customer care Phone:</span> (333) 333-3333
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enqury Email:</span> (555) customercare@horizonx.test
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Purchase Email:</span> purchase@horizonx.test
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div id="map"></div>
            </div>
        </div>
    </div>
</section>